html, body {
  height: 100%;
}

body {
  margin: 0;
  max-width: 32em;
  margin: 48px auto;
  padding: 24px;
  font-size: 24px;
  line-height: 1.5;
  font-family: 'TchigMono-Regular';
}

a, a:link, a:visited {
  color: inherit;
}

.index {
  display: block;
  height: 100%;
}

h1 {
  margin: 0 0 32px;
  font-size: 72px;
  line-height: .75;
  font-family: 'TchigMono-Bold';
  font-feature-settings: 'ss01', 'ss02', 'ss03', 'ss04';
  text-transform: lowercase;
}

p {
  margin: 16px 0;
}

@media only screen and (max-width : 768px) {
  body {
    font-size: 16px;
    margin: 0 auto;
  }
}
