/*
Imports
*/
@import 'core';

/*
Debug styles
*/
// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }



/*
Body
*/
body {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: $black;
  background-color: $white;

  background-position: fixed;

  @include media-small {
    font-size: 14px;
  }
}

::-moz-selection { background-color: $pink; color: #fff; text-shadow: none; }
::selection { background-color: $pink; color: #fff; text-shadow: none; }

/*
Layout
*/
section {
  padding: 20px 0;
  margin-bottom: 80px;
}

.container {
  position: relative;
  padding: 0 20px;
  margin-left: auto; margin-right: auto;
}

.container.thin {
  width: 640px;
}

@include media-small {
  .container, .container.thin { width: 100%; }
}

/*
Links
*/
a {
  text-decoration: underline;
  color: inherit;
}

a:hover { text-decoration: none; }

p a {
  @include text-link;
}


/*
Text
*/
p {
  margin-bottom: 40px;
}

h1 {
  font-size: 13px;
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 20px;
  font-size: 13px;
  letter-spacing: 1px;
}



.header {
  display: flex;
  justify-content: center;

  padding: 40px 0;

  @include media-small {
    justify-content: flex-end;
  }
}

.header-logo {
  position: relative;
  width: 720px;
  height: 270px;
  margin-top: 40px;

  @include simple-gradient(-45deg, #f7931e, #f01344);

  @include media-small {
    width: 240px; height: 90px;
    margin-top: 0;
  }
}

.header-logo__image {
  position: absolute;
  top: -1%;
  left: -1%;
  width: 102%; height: 102%;

  mix-blend-mode: screen;


}

.header-logo__text {
  @include ir;
}


.content {
  padding: 40px;

  background-color: $light-grey;
  background-image: linear-gradient(to bottom,  $white 0%, $light-grey 320px);

  @include media-small {
    padding: 10px;
  }
}

.shots {
  text-align: center;
}

.shots img {
  display: block;
  max-width: 100%; width: 400px; height: auto;
  margin: 0 auto 80px;

  box-shadow: 0 2px 2px fade-out($black, .9);

  @include media-small {
    margin: 0 auto 40px;
  }
}

.shots__link {
  @include button-link;

  &.is-active {
    margin-top: 40px;
  }
}
